@import "./nav-icons.css";
@import "./widget/nav.css";
@import "./widget/check.css";
@import "./widget/popup.css";
@import "./widget/table.css";
@import "./widget/text.css";

:root {
    --ln-window-content-padding: 12px;
    --ln-ui-background-color: #ffffff;
    --ln-navigation-background-color: #ffffff;
}
