@import "./nav-icons.css";
@import "./widget/nav.css";
@import "./widget/check.css";
@import "./widget/popup.css";
@import "./widget/table.css";
@import "./widget/text.css";
@import "./widget/dialog.css";
@import "./widget/subwindow.css";

:root {
    --ln-window-content-padding: 12px;
    --ln-ui-background-color: #ffffff;
    --ln-navigation-background-color: #ffffff;
    --ln-file-icon-size: 16px;
    --flake-hotbar-image: url("./resource/content/hotbar.png");
    --flake-hotbar-selection-image: url("./resource/content/hotbar_selection.png");
    --flake-creative-inventory-image: url("./resource/content/creativeInventory.png");
}
