@import "./nav-icons.css";
@import "./widget/button.css";
@import "./widget/nav.css";
@import "./widget/check.css";
@import "./widget/input.css";
@import "./widget/popup.css";
@import "./widget/range.css";
@import "./widget/table.css";
@import "./widget/text.css";
@import "./widget/dialog.css";
@import "./widget/subwindow.css";
@import "./widget/content.css";

:root {
    --ln-ui-background-color: #ffffff;
    --ln-navigation-background-color: #f7f7f7;
    --ln-file-icon-size: 32px;
    --flake-hotbar-image: url("./resource/content/hotbar.png");
    --flake-hotbar-selection-image: url("./resource/content/hotbar_selection.png");
    --flake-open-inventory-normal-image: url("./resource/button/openInventory_normal.png");
    --flake-open-inventory-hover-image: url("./resource/button/openInventory_hover.png");
    --flake-edit-tool-normal-image: url("./resource/button/editTool_normal.png");
    --flake-edit-tool-hover-image: url("./resource/button/editTool_hover.png");
    --flake-edit-tool-active-image: url("./resource/button/editTool_active.png");
    --flake-chest-image: url("./resource/content/chest27.png");
    --flake-hopper-image: url("./resource/content/hopper.png");
}
