@font-face {
    font-family: "Unifont";
    src: url("../resource/font/unifont-15.0.01.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    --ln-body-font-family: "Unifont", monospace;
    --ln-body-font-size: 16px;
    --ln-body-text-color: #ffffff;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    text-rendering: geometricPrecision;
}