:root {
    --ln-metro10-table-row-min-height: 60px;
    --ln-metro10-table-hover-background: #e6e6e6;
    --ln-table-row-selected-background: #f2f2f2;
}

table,
.table {
    border-collapse: collapse;
}

table > tbody > tr,
.table > tbody > tr {
    height: var(--ln-metro10-table-row-min-height);
}

table > :not(caption) > * > *,
.table > :not(caption) > * > * {
    border: 0;
}

table > tbody > tr:hover > *,
.table > tbody > tr:hover > * {
    background-color: var(--ln-metro10-table-hover-background);
}

table > tbody > tr.table-row-selected > *,
table > tbody > tr[aria-selected="true"] > *,
.table > tbody > tr.table-row-selected > *,
.table > tbody > tr[aria-selected="true"] > * {
    background-color: var(--ln-table-row-selected-background);
}

table > tbody > tr > * > .button-row,
.table > tbody > tr > * > .button-row {
    margin-bottom: 0;
}

table > tbody > tr > * > .button-row > button,
table > tbody > tr > * > .button-row > input[type="button"],
table > tbody > tr > * > .button-row > input[type="submit"],
table > tbody > tr > * > .button-row > input[type="reset"],
.table > tbody > tr > * > .button-row > button,
.table > tbody > tr > * > .button-row > input[type="button"],
.table > tbody > tr > * > .button-row > input[type="submit"],
.table > tbody > tr > * > .button-row > input[type="reset"] {
    margin-top: 0;
    margin-bottom: 0;
}
